<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Startsida</title>
</head>

<body>
    <%- include("partials/nav") %>
    <h1>Hem</h1>


    <section>
        <% if (courses.length> 0) { %>
            <table border="1">
                <thead>
                    <tr>
                        <th>Kurskod</th>
                        <th>Kursnamn</th>
                        <th>Syllabus</th>
                        <th>Progression</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach(course=> { %>
                        <tr>
                            <td>
                                <%= course.course_code %>
                            </td>
                            <td>
                                <%= course.course_name %>
                            </td>
                            <td>
                                <%= course.course_syllabus %>
                            </td>
                            <td>
                                <%= course.course_progression %>
                            </td>
                            <td>
                                <form action="/delete" method="POST">
                                    <input type="hidden" name="course_code" value="<%= course.course_code %>">
                                    <button type="submit">Ta bort</button>
                                </form>
                            </td>   
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <p>Inga kurser att visa.</p>
                <% } %>
    </section>
</body>

</html>